.rrze-fieldset {
    margin-bottom: 2em;
    &:first-of-type {
        margin-top: 1em;
    }
    .rrze-legend {
        font-weight: bold;
        margin-bottom: 1em;
    }
}

.rrze-accordeon-item {
    margin-bottom: 1em;

    .rrze-accordeon-toggle + label {
        font-weight: bold;
    }

    .rrze-accordeon-toggle-target {
        position: absolute;
        left: -20000px;
        padding-left: 2em;
        margin-bottom: 2em;
    }
    .rrze-accordeon-toggle:checked ~ .rrze-accordeon-toggle-target {
        position: static;
        display: block;
    }
}
