/*
* Admin CSS for RRZE-Video Plugin 
*/

#rrze-video-metadata {
    .cmb2-wrap input.cmb2-text-medium.cmb2-text-url {
	width: 100%;
    }

    .cmb2-wrap textarea {
	 width: 100%;
    }
}

.wp-admin.post-type-video {
    
    .wp-list-table {
	td.genre a {
	    padding: 5px;
	}
    }
}

.rrze-video-admin {
    legend {
	font-size: 1.1em;
	margin: 1em 0;
	border-bottom: 1px solid #ccc;
	width: 100%;
	padding-bottom: 3px;
    }
    .rrze-accordeon-toggle-target {
	margin: 1em 0 1em 20px;
    }
    
    .displayoptions {
	p em {
	    margin-left: 20px;
	}
    }
}
