/*
* Admin CSS for RRZE-Video Plugin 
*/

#rrze-video-metadata {
    .cmb2-wrap input.cmb2-text-medium.cmb2-text-url {
	width: 100%;
    }

    .cmb2-wrap textarea {
	 width: 100%;
    }
}

.wp-admin.post-type-video {
    
    .wp-list-table {
	td.genre a {
	    padding: 5px;
	}
    }
}
