/*
Settings for YouTube Player
*/

.rrze-video {
    
    .rrze-video-container {
	.youtube {
	    iframe {
		width: calc(100vw - 30px);
		height: calc( (100vw - 30px) / 16 * 9 );
		
		@media (min-width: 768px) {
		    width:  606px;
		    height: 336px;
		}
	    }
	    
	    
	}
    }

    
}
