@import 'vidstack/player/styles/default/theme.css';
@import 'vidstack/player/styles/default/layouts/audio.css';
@import 'vidstack/player/styles/default/layouts/video.css';

/*************************************************************************************************
 * Player
 *************************************************************************************************/
:root {
    --webkit-text-track-display: none;
    --brand-color: #f5f5f5;
    --focus-color: #4e9cf6;

    --audio-brand: var(--brand-color);
    --audio-focus-ring-color: var(--focus-color);
    --audio-border-radius: 2px;

    --video-brand: var(--brand-color);
    --video-focus-ring-color: var(--focus-color);
    --video-border-radius: 2px;

    --media-slider-track-border-radius: 0px
    // --default-color: #000;
    // --default-bg: var(--color-zentral-basis, #04316a);
}

.rrze-video {
    [data-media-player][data-layout='video']:not([data-fullscreen]) {
        border-radius: 0;
    }

    .vds-video-layout[data-sm] .vds-controls .vds-play-button {
        background-color: var(--color-zentral-basis, #04316a);
        border-radius: 0;
    }

    media-audio-layout.light.vds-audio-layout {
        background: none;
        border-top: 1px solid var(--color-zentral-basis, #04316a);
        border-bottom: 1px solid var(--color-zentral-basis, #04316a);

        .vds-button {
            color: var(--color-zentral-basis, #04316a);
        }

        .vds-button.vds-play-button {
            color: #fff;
        }

        border-radius: 0;

        :where(.vds-time-slider .vds-slider-progress) {
            background-color: var(--color-zentral-ci-hell2, #ced9e7);
        }

        :where(.vds-slider .vds-slider-track-fill) {
            background-color: var(--color-zentral-basis, #04316a);
        }

        media-play-button {
            &.vds-play-button {
                background: var(--color-zentral-basis, #04316a);
                border-radius: 0;
            }


            .vds-play-button {
                border-radius: 0;
            }

            .vds-icon .vds-play-icon {
                border-radius: 0;
            }
        }

        // svg.vds-icon.vds-play-icon path {

        // }
    }
}


.vds- media-player {
    --brand-color: #f5f5f5;
    --focus-color: #4e9cf6;

    --audio-brand: var(--brand-color);
    --audio-focus-ring-color: var(--focus-color);
    --audio-border-radius: 2px;

    --video-brand: var(--brand-color);
    --video-focus-ring-color: var(--focus-color);
    --video-border-radius: 2px;

    /* 👉 https://vidstack.io/docs/player/components/layouts/default#css-variables for more. */
}

media-player[data-view-type='audio'] media-poster {
    display: none;
}

media-player[data-view-type='video'] {
    aspect-ratio: 16 /9;
}

media-player {

    &.ar-16-9 {
        aspect-ratio: 16/9;
    }

    &.ar-9-16 {
        aspect-ratio: 9/16;
        max-width: calc(80vh / 16 * 9);
    }

    &.ar-4-3 {
        aspect-ratio: 4/3;
    }

    &.ar-1-1 {
        aspect-ratio: 1/1;
    }

    &.ar-235-1 {
        aspect-ratio: 2.35/1;
    }

    &.ar-240-1 {
        aspect-ratio: 2.40/1;
    }
}


/*************************************************************************************************
 * Document
 *************************************************************************************************/

.src-buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 40px;
    margin-inline: auto;
    max-width: 300px;
}


/*************************************************************************************************
 * Width Limitation for FAU Elemental
 *************************************************************************************************/

.wp-theme-FAU-Elemental {
  div.rrze-video, div.rrze-video-container{
    margin-inline: auto;
    max-width: var(--wide-max-width);
  }
}

.vds-load-container media-tooltip media-play-button{
    background: #fff;
    border-radius: 0 !important;
    color: #04316a;
    height: 80px;
    width: 80px;
}

.vds-load-container media-tooltip media-play-button svg {
    height: 44px;
    width: 44px;
}
